.image__box {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.image__box div {
    transition: all 0.5s;
}


.image__box img {
    transition: all 0.5s;
    display: block;
    height: auto;
    opacity: 1;
    transform: scale(1);
    height: 500px;
    object-fit: cover;
    filter: blur(0);
}

.image__box:hover img {
    transform: scale(1.2);
    opacity: .5;
    filter: blur(1px);
}

.image__box:hover div {
    transform: scale(1.5);
}


.masterCard {
    position: relative;
}

.masterCard img {
    display: block;
    width: 100%;
    height: auto;
}

.masterCard--description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #0d0d0d;
}

.masterCard:hover .masterCard--description {
    opacity: .9;
}